@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* You can add global styles to this file, and also import other style files */
.iconos-rrss-header {
  width: 30px;
  margin: 10px 5px;
}
.logotipo {
  width: 30px;
  padding: 0 0;
}

footer {
  position: relative;
  font-family: "Poppins", sans-serif;
  bottom: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  background: #111;
}

